a {
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  margin: 1px 5px;
  text-decoration: none;
}

a:hover {
  color: rgba(0, 0, 0, 0.54);
}

body {
  background-color: #90caf9;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

#email-link {
  position: relative;
  top: 2.5px;
}

#home {
  background: url("./images/background.jpg") no-repeat center center;
  background-size: cover;
  min-height: 550px;
  height: 100vh;
  margin: 0;
}

h2 {
  margin-bottom: 0;
}

h3 {
  font-size: 16px;
  margin-top: 0;
}

.image-link:hover {
  transform: scale(1.01);
}

img {
  border: 1px solid #eeeeee;
  height: 250px;
  object-fit: cover;
  width: 95%;
}

#info {
  margin: 0 auto;
  padding-top: 20px;
}

#name {
  font-size: 64px;
  line-height: 64px;
  margin: 0 0 10px 0;
}

.project {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  padding: 10px 15px;
}

.project-links {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.project-title {
  margin-top: 10px;
}

.project-website-link {
  display: none;
}

#projects-grid {
  display: grid;
  grid-template-columns: 95%;
  grid-gap: 15px;
  justify-content: center;
  margin: 0 20px 30px 20px;
}

#projects-link {
  font-size: 44px;
  margin-top: 0;
}

#projects-link:hover, .social-link:hover {
  transform: scale(1.1);
}

.social-link {
  font-size: 32px;
}

#title {
  font-size: 24px;
  margin: 1px;
}

@media (min-width: 475px) {
  #info {
    float: right;
    margin: 5vh 10vw;
    padding-top: 0;
  }

  #js-calc-gh-link { /* javascript calculator github link is 2 lines */
    position: relative;
    right: 32.5px;
  }

  #name {
    line-height: normal;
    margin-bottom: 1px;
  }

  #projects-grid {
    grid-template-columns: 400px;
  }

  .project-links {
    justify-content: center;
  }

  .project-website-link {
    display: block;
  }
}

@media (min-width: 900px) {
  #projects-grid {
    grid-template-columns: 400px 400px;
  }
}

@media (min-width: 1000px) {
  #info {
    margin: 7.5vh 15vw;
  }
}

@media (min-width: 1325px) {
  #projects-grid {
    grid-template-columns: repeat(3, 400px);
  }
}
